<html lang='en'>
<head>
    <meta charset='utf-8'>
    <link rel='stylesheet' href='../static/style.css'>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <script src='../static/client.js'></script>
</head>
<body>
<div>
    <div class='center'>
        <div class='title'>Classify famous Painters</div>
        <p>
            Use paintings of Bruegel, Cezanne, Da Vinci, Durer, Klimt, Michelangelo, Monet, Munch, Picasso, Pollock, Raphael, Rembrandt, Rubens,
            Tintoretto, Titian, or Van Gogh!
        </p>
        <div class='content'>
            <div class='no-display'>
                <input id='file-input'
                       class='no-display'
                       type='file'
                       name='file'
                       accept='image/*'
                       onchange='showPicked(this)'>
            </div>
            <button class='choose-file-button' type='button' onclick='showPicker()'>Select painting</button>
            <div class='upload-label'>
                <label id='upload-label'>No painting chosen</label>
            </div>
            <div>
                <img id='image-picked' class='no-display' alt='Chosen Image' height='200'>
            </div>
            <div class='analyze'>
                <button id='analyze-button' class='analyze-button' type='button' onclick='analyze()'>Analyze the painting</button>
            </div>
            <div class='result-label'>
                <label id='result-label'></label>
            </div>
            <div class='prob-label'>
                <label id='prob-label'></label>
            </div>
            <div class='links'>
                <span style="font-size: 20px>
                <i class="fab fa-github"></i>
                </span>
                <a href="https://github.com/nehemoro/painter_classification">nehemoro/painter_classification</a>
            </div>
            
        </div>
    </div>
</div>
</body>
</html>
